.carousel-item {
    text-align: center;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title{
    font-size: 2.5rem;
    line-height: 1;
}
.card-body h5 {
    color: #28a745; /* green for fitness */
    font-weight: bold;
}
.cta-section {
    background-color: #e0f7e4;
    padding: 20px;
    text-align: center;
}
.cta-section h2 strong{
    color: #388e3c; /* deep green */
}
.cta-section p {
    margin: 10px 0;
}
.cta-section .btn {
    background: linear-gradient(180deg, #32794F 0%, rgba(50, 121, 79, 0.685616) 36.59%, rgba(50, 121, 79, 0.5) 100%);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}
.icon-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.icon-section div {
    margin: 0 10px;
    text-align: center;
}
.icon-section p{
    font-size: 12px;
}
.icon-section .icon {
    color: #28a745;
    font-size: 20px;
}
@media screen and (min-width:500px){
    .icon-section p{
        font-size: 14px;
    }
    .cta-section {
        padding: 40px;
    }
    .title{
        font-size: 3.5rem;
    }
}