<div class="container-fluid img">
  <!-- Navigation Bar -->
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo-removebg-preview.png" alt="HealthyBite" style="height: 60px;">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3 py-2 border rounded-2" href="#" style="background-color:#DC2F39; text-decoration: none; color:#000;">Log In</a>
            </li>
            <li class="nav-item ms-2">
              <a class="nav-link px-3 py-2 border rounded-2" href="#" style="background-color:#8DC73F; text-decoration: none; color:#000;">Sign Up</a>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row align-items-center text-center px-1" style="padding-top: 12rem;">
      <!-- Left Side Text -->
      <div class="col-12 col-md-6 text-start order-md-1 mb-4 mb-md-0"> <!-- Left side text column -->
        <div class="display-4 fw-bold text-danger text-custom">Healthy <span class=" text-p display-6 text-dark">living <span class="display-6  text-p text-dark">made</span></span></div>
        <span class="display-6 text-dark  text-p">easy!!</span>
        <p class="lead mt-5 text-p">Get your custom plans and<br>one-on-one guidance from our experts</p>
        <button class="border rounded-3 mt-3  text-p signin-btn" style="height: 50px; background-color:#8DC73F;">Sign in</button>
        <p class="mt-2  text-p"><small>Sign in and get started today</small></p>
      </div>
      <!-- Right Side Image -->
      <div class="col-12 col-md-6 text-center order-md-2"> <!-- Right side image column -->
        <img src="../assets/hero-section.png" alt="Healthy Food" class="img-fluid imge-hidden" style="max-height: 450px;">
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

