
<div class="container-fluid">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg  navbar-light  mx-2" >
      <a class="navbar-brand" href="#">
        <img src="../assets/logo.jpeg" alt="HealthyBite" style="   height: 80px; background-color: transparent;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blogs</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="#">Sign up</a>
          </li>
        </ul>
      </div>
    </nav>
  .
    <!-- Main Content -->
    <div class="row align-items-center mx-5" >
      <!-- Left Side Text -->
      <div class="col-md-6 text-start">
        <div class="display-4 fw-bold text-danger ">Healthy <span class="display-6 text-dark">living <span class="display-6 text-dark">made</span></span></div>
        <span class="display-6   text-dark ">easy!!</span>
        <p class="lead mt-5">Get your custom plans &<br>one-on-one guidance from our experts</p>
        <button class="btn  btn-lg border rounded-3   mt-3" style="width: 14rem;  height: 50px; background-color:#8DC73F;  ">Sign in</button>
        <p class="mt-2"><small>Sign in & get started today</small></p>
      </div>
      <!-- Right Side Image -->
      <div class="col-md-6 text-center">
        <img src="../assets/hero-section.png" alt="Healthy Food" class="img-fluid" style="max-height: 450px;">
      </div>
    </div>
  </div>
<app-reviews></app-reviews>
  <app-footer></app-footer>