<section class="d-flex flex-column align-items-center justify-content-center w-100">
    <!-- logo -->
<div class="logo py-5 d-flex ">
    <h2 class="text-center">Diet and <br>Nutrition Zone</h2>
        <img src="../assets/dnz.png" alt="HealthyBite" style="   height: 60px; background-color: transparent;">
</div>
<!-- pages -->
 <div class="row row-cols-2 row-cols-sm-3 text-center row-cols-md-4 row-cols-lg-auto g-1 g-lg-5  pb-2 px-5 fw-medium ">
    <a>About US</a>
    <a>Features</a>
    <a>Blogs</a>
    <a>Food </a>
    <a>Recipes</a>
    <a>Reviews</a>
 </div>

<!-- links -->
 <div class="row row-cols-2 row-cols-sm-3 text-center row-cols-lg-auto  gx-2  gy-0 gx-sm-4 gx-lg-5 py-3 links">
    <a>Terms & Conditions</a>
    <a>Privacy Policy</a>
    <a>Contact</a>
    <a>Cookie Policy </a>
    <a>Support</a>
 </div>

 <!-- horizontal line -->
  <hr>

  <!-- Social Icons -->
  <div class="row row-cols-3  row-cols-lg-auto text-center gx-5  gy-3 gy-lg-0 gx-sm-4 gx-lg-5 px-5 py-3 social-icons">
    <a><i class="bi bi-facebook px-2 py-1" aria-hidden="true"></i></a>
    <a><i class="bi bi-instagram px-2 py-1" aria-hidden="true"></i></a>
    <a><i class="bi bi-twitter px-2 py-1" aria-hidden="true"></i></a>
    <a><i class="bi bi-pinterest px-2 py-1" aria-hidden="true"></i></a>
    <a> <i class="bi bi-youtube px-2 py-1" aria-hidden="true"></i></a>
    <a> <i class="bi bi-envelope px-2 py-1" aria-hidden="true"></i> </a>
 </div>

 <!-- Copyright -->
  <p class="text-center fw-bold py-4 fs-6 px-5">© 2024 - SSH. All Rights Reserved</p>

</section>
